%meta{ property: "og:url", content: "https://retweet.rip" }
%meta{ property: "og:title", content: "Retweet RIP" }
%meta{ property: "og:description", content: "Enable or disable retweets from the people you follow" }
%meta{ property: "og:image", content: image_url("retweet_rip_logo.gif") }
%meta{ name: "twitter:card", content: "summary" }
